.overlayPanel {
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	padding:3em;
	color:#fff;
	background-color:rgba(0,0,0,0.7);
	border-top:4px solid #000;
}

/* overlay modal forms */
.overlay {
	position:fixed;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background:rgba(0,0,0,0.5);
	overflow-x:hidden;
	overflow-y:auto;
	
	.overlayModal {
		width:600px;
		margin:20vh auto;
		background-color:#fff;
		border-radius:5px;
		box-shadow:0 5px 15px rgba(0,0,0,.5);
		padding:2em;
	}
}

/* dropdown forms */
.dropForm {
	padding:1em;
	width:400px;
	border-radius:5px;
	border:1px solid #ccc;
	background:#ddd;
	box-shadow: 0 5px 15px rgba(0,0,0,.5);
	position:absolute;
	z-index:1000;
}