body {
	background-image:url(/images/dotted-bg.png);
	&.modalOpen {
		overflow:hidden;
	}
}

.navbar {
	border-radius:0;
}

a {
	cursor:pointer;
}

.well {
	    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}